= simple_form_for @spaceship do |form|
  = form.input :title
  = form.input :velocity, as: :float
  = form.association :expedition, collection: Expedition.all, label_method: :title, value_method: :id
  = form.submit 'Сохранить'